
.header {
    margin-left: 10px;
    display: flex;
    position: relative; 
    width: 100%;
}

.page-title{
    font-family: "Times New Roman", Times, serif;
    background-color: hsl(0, 0%, 86%);
}

.row {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 3px; 
}

.row > * {
    flex: 1 1 0;
    max-width: 100%;
    box-sizing: border-box; 
    text-align: center; 
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.selectScale {
    position: relative; 
    display: inline-block; 
    margin-bottom: 10px;
}

.selectScaleButton {
    display: block;
    top: 10px;
    position: relative;
    height: 60px;
    width: 400px;
    background-color: rgb(124, 194, 252);
    border: 4px solid black;
}

.selectScaleButton::before {
    content: "Select Scale";
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.select-Dropdown {
    display: none; 
    position: absolute;
    top: 116%; 
    left: 0px;
    z-index: 1000; 
    overflow-y: auto; 
    max-height: 224px;
    background-color: white;
    border: 1px solid #808080; 
    width: 100%;
}

.select-Dropdown.show {
    display: block; 
    width: 100%;
}

.startNoteButton {
    display: inline-block;
    height: 25px;
    text-align: center;
    width: calc(8.3%); 
}

.scaleButton {
    display: inline-block;
    max-height: 50px;
    text-align: center;
    overflow: hidden;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.findScale {
    position: relative;
    display: inline-block;
    margin-bottom: 10px; 
    left: 20px;
}

.findScaleButton {
    display: block;
    top: 10px;
    position: relative;
    height: 60px;
    width: 400px;
    background-color: rgb(204, 112, 112);
    border: 4px solid black;
}

.findScaleButton::before {
    content: "Find Scale";
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.find-Dropdown {
    display: none;
    position: absolute;
    top: 116%;
    width: 400px;
    justify-content: center;
    background-color: rgb(129, 129, 129);
}


.find-Dropdown.show {
    display: block;
    
}

.findNoteButton {
    display: inline-block;
    height: 25px;
    text-align: center;
}

.findScaleRunButton {
    display: inline-block;
    height: 35px;
    text-align: center;
}

.foundScales {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap; 
    overflow-y: auto; 
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-height: 160px; 
}

.foundScales div {
    flex: 1 1 calc(20%); 
    max-width: calc(20%); 
    height: 40px;
    line-height: 20px; 
    text-align: center;
    align-items: center;
    border: 1px solid #000000;
    background-color: rgb(204, 112, 112);
    box-sizing: border-box; 
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

body {
    background-color: hsl(0, 0%, 86%);
    display: relative;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
}

.piano {
    position: absolute;
    top: 375px;
    left: 20px;
    width: 1460px;
    height: 2*100px;
    display: flex;
    border: 2px solid black;
}

.key {
    height: calc(var(--width) * 3);
    width: var(--width);
}

.white {
    width: 50px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
}

.white.active {
    filter: brightness(0.8);
}

.black {
    --width: 22px;
    background-color: rgb(14, 14, 14);
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
    box-shadow: 0 0 0 1px black;
}

.black.active {
    filter: brightness(3);
}

.black.active.highlighted {
    filter: brightness(0.8);
}

.highlighted {
    background-color: rgb(124, 194, 252);
}

.findNoteButton.active,
.startNoteButton.active,
.scaleButton.active {
    background-color: darkgrey;
}
