.container-fluid {
    width: 100vw; 
    padding: 0;
    margin: 0;
  }
html {
  height: 100%;
  width: 100%;
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: hsl(0, 0%, 86%);
    width: 100%;
    height: 100%;
}


#second-navbar {
    width: 100%;
}

.navbar-two {
    display: flex;
    width: 100%;
}

.navbar-two .nav-item {

}

.navbar-two .nav-link {
    color: rgb(212, 208, 208);
    font-size: 18px;
    text-decoration: none;
}

.navbar-two .nav-link:hover {
    background-color: #575757;
}

.header {
    display: flex;
    width: 100%;
    margin-left: 50px;
    margin-top: 100px;
}


.row {
  display: flex;
  flex-wrap: nowrap;   
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row > * {
  flex: 1 1 auto;       
  min-width: 0;         
  text-align: center;
  font-size: 13px;
  overflow: hidden;
  box-sizing: border-box;
}

.buttonDescription{
    color: antiquewhite;
    background-color: #575757;
    text-align: center; 
    width: 100%;
}

.output-container {
  height: 70vh; 
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

#output {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;     
  min-height: 0;        
}


button.active {
  background-color: #a8a8a8;
}


.voiceContainer.active{
  background-color: hsl(0, 3%, 94%) !important;
}


.noteDurationButton {
  width: 48px;
  height: 24px;
  font-size: 24px;      
  line-height: 16px;      
  text-align: center;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.toggleDotButton{
    font-size: 24px;  
    height: 24px;
    line-height: 16px;
}

.playButton{
    font-size: 18px;  
    height: 24px;
    line-height: 16px;
}
.voiceContainer {
  position: relative;
  overflow-x: auto;   
  overflow-y: hidden; 
  width: 500px;       
  height: 300px;
  background: white;
}

.voiceContainer svg {
  display: block;
}


.voiceWrapper{
  width: 80vw
}

#upperVoiceContainer, #middleVoiceContainer, #lowerVoiceContainer, #voice4Container {
  height: 300px;
  width: 95%;  
  overflow-x: auto;    
  overflow-y: visible; 
  white-space: nowrap;  
  padding-left: 30px;
  background-color: white;
}

#harmonyVoiceContainer {
  flex: 0 0 auto; 
  width: 100%;   
  height: 300px;
  padding-left: 30px;
  background-color: white;
}


#bpmDisplay {
  display: inline-block;
  min-width: 30px; 
}
#bpmSlider {
  width: 270px;
  height: 6px;
  margin-left: 15px;
  background: #575757;
  appearance: none; 
}

#bpmSlider::-webkit-slider-runnable-track {
  background: #575757;
  height: 6px;
  border-radius: 1px;
}

#bpmSlider::-webkit-slider-thumb {
  appearance: none;
  width: 13px;
  height: 13px;
  background: #575757;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -3.5px; 
}

.voiceWrapper {
  display: flex;
  align-items: flex-start; 
}

.voiceSettings {
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  width: 160px;
}

.voiceSettings button {
  font-size: 12px;
  padding: 4px 6px;
  cursor: pointer;
}

#rootSelect {
  width: 60px;  
}

#minRhythm, #maxRhythm {
  height: 30px;
  font-size: 24px;    
  line-height: 1.4; 
}


.output-container, .voiceSettings, .row {
    overflow: visible !important;
}

#reflectSelect{
     text-align: center;       
    text-align-last: center;  
    font-size: 20px;
}

#transposeDropdown {
    text-align: center;       
    text-align-last: center;
    font-size: 20px;
}



#shiftSelect {
    text-align: center;       
    text-align-last: center;  
    font-size: 30px;
}


#shiftSelect option:hover,
#reflectSelect option:hover,
#transposeDropdown option:hover {
    background-color: #d3d3d3;
}



.menu {
    flex: 0 0 auto; 
    width: 300px;   
}



.tabs {
  display: flex;
  width: 100%;
}

.tab-btn {
  flex: 1;
  padding: 8px;
  cursor: pointer;
  border: none;
  background: #eee;
  text-align: center;
}

.tab-btn.active {
  background: #ccc;
}

.tab-content {
  flex: 1 1 100%;  
  width: 100%;     
  min-width: 100%;  
  box-sizing: border-box;
}

.tab-content.hidden {
  display: none;
}


.input-menu,
.settings-menu {
  display: block;
  width: 100%;      
  min-width: 100%; 
  box-sizing: border-box;
  padding-top: 30px;
}
