.navbar{
    font-family: "Times New Roman", Times, serif;
}

.navbar-main {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #3d3c3c;
}

.navbar-main .nav-link {
    color: rgb(212, 208, 208);
    font-size: 18px;
    text-decoration: none;
    padding: 16px;
    font-family: "Times New Roman", Times, serif;
}

.navbar-main .nav-link:hover {
    background-color: #575757;
}

.navbar-two {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #a8a8a8;
}

.navbar-two .nav-link {
    color: #3d3c3c;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
    font-family: "Times New Roman", Times, serif;
}

.navbar-two .nav-link:hover {
    background-color: #575757;
}