.container-fluid {
  width: 100vw; 
  padding: 0;
  margin: 0;
}





ul {
    list-style-type: none;
    padding-left: 20px;
    font-style: italic;
  }
.edit-icon {
    display: none;
    cursor: pointer;
    margin-left: 10px;
    color: gray;
  }
  
  .composer-container{
    padding-top: 10px;
    padding-left: 70px;
    
  }

  .composer-container:hover .edit-icon,
  li:hover .edit-icon {
    display: inline-block;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .form-group {
    width: 50%; 
    max-width: 800px;
    padding: 15px;
  }

  .btn {
    padding: 12px;
  }
  

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    border-radius: 5px;
  }
  
  .close {
    color: red;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  body {
    font-family: "Times New Roman", Times, serif;
    background-color: hsl(0, 0%, 86%);
  }


button#delete-composer, button#delete-composition {
    color: white;
    background-color: red;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 5px;
  }
  
  button#delete-composer:hover, button#delete-composition:hover {
    background-color: darkred;
  }

  button#save-composer, button#save-composition {
    color: white;
    background-color: rgb(66, 187, 50);
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
  }
  
  button#save-composer:hover, button#save-composition:hover {
    background-color: rgb(42, 94, 12);
  }
  
  #delete-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  